.grid-item:nth-child(5) {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.contact-container {
    border-radius: var(--border-radius);

    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    font-size: 1.2rem;
    font-weight: 500;
    color: var(--quinary-color);
    text-decoration: none;

    transition: 0.15s cubic-bezier(0.25, 0, 0.25, 1);
}
.contact-container:hover {
    box-shadow: inset 0 0 20px 0 #1414149d;
}

.contact-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-img-container img {
    width: 48px;
    height: 48px;
}

.contact-text {
    text-align: center;
}