section {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    max-width: 600px;
    width: 100%;

    font-size: 1.2em;
}

a {
    color: var(--primary);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: var(--primary-dark);
}