#experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#experience h2 {
    text-align: center;
    font-size: 3.5em;
    margin-top: 5%;
    margin-bottom: 20px;
}

#experience .content {
    flex-grow: 1;
    width: 100%;
    max-width: 1400px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

#experience .content > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#experience .content .card {
    background-color: var(--primary-background-card);
    border-radius: 20px;
    border: 1px solid rgba(var(--primary-light-rgb), 0.2);
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    transition: 0.5s var(--transition-sharp);
}
#experience .content .card:hover {
    box-shadow: 0 3px 15px rgba(var(--primary-highlight-rgb), 0.2);
    transform: translateY(-5px);
    transition: 0.25s var(--transition-sharp);
}

/* Left */
#experience #left {
    justify-content: flex-start;
}
#experience #left .switcher {
    margin-top: 5%;

    display: flex;
    flex-direction: row;
    gap: 5px;

    border-radius: 20px;

    padding: 4px;

    background-color: rgba(var(--primary-rgb), 0.2);
}
#experience #left .switcher .icon {
    width: 20px;
    height: 20px;
    background-color: var(--primary-light);
}
#experience #left .switcher > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;

    padding: 5px 10px;
    border-radius: 20px;

    padding: 7px 25px;

    cursor: pointer;
}
#experience #left .switcher > div h3 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    color: var(--primary-light);
}
#experience #left .switcher > div.active {
    background-color: rgba(var(--primary-background-rgb), 0.5);
}
#experience #left .switcher > div.active .icon {
    background-color: var(--text-color);
}
#experience #left .switcher > div.active h3 {
    color: var(--text-color);
}

#experience #left .work-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#experience #left .card {
    width: 75%;
}

#experience #left .card-header {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
}
#experience #left .card-header h4 {
    margin: 0;
    font-size: 1.75em;
    font-weight: 800;
}
#experience #left .card-header h5 {
    margin: 0;
    margin-top: 5px;
    font-size: 1.25em;
    font-weight: 800;
}
#experience #left .card-header h6 {
    margin: 0;
    margin-top: 3px;
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
    color: var(--primary-light);
}
#experience #left .card-body p {
    margin: 0;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-light);
}


/* Right */
#experience #right .card {
    width: 60%;
}

#experience #right .card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}
#experience #right .card-header .icon-container {
    width: 40px;
    height: 40px;
    background: linear-gradient(130deg, var(--primary), var(--primary-background));
    border-radius: 10px;
    padding: 10px;
}
#experience #right .card-header .icon {
    background-color: var(--primary-highlight);
}
#experience #right .card-header h3 {
    margin: 0;
    font-size: 1.75em;
    font-weight: 600;
    color: var(--primary-light);
}

#experience #right .card-body {
    color: rgba(var(--primary-light-rgb), 0.65);
    font-size: 1.2em;
}
#experience #right .card-body p {
    margin: 0;
    line-height: 1.75rem;
}

#experience h4 {
    margin: 0;
    font-size: 1.35em;
    font-weight: 400;
    color: rgba(var(--primary-light-rgb), 0.65);
}