footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;

    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 600;
}

footer p {
    margin: 0;
}

footer a {
    color: var(--primary);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    footer {
        font-size: 1rem;
        justify-content: space-between;
    }
}